nav, ul {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    align-items: center;
    border-bottom: 1px solid var(--color-grey);
}

li {
    padding: 15px;
}

li a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 2rem;
    margin: 0;
}

li a:hover {
    text-decoration: underline;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}