html, body {
  overflow-x: hidden;
}

:root {
  --color-black: #232323;
  --color-white: #ffffff;
  --color-grey: #b3b2b3;
  --color-red: #ff4d4d;
  --color-green: #4caf50;
  --color-yellow: #ffd700;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
